.container{
    display: flex;

}
body{
    background: #212121;
    color:white;
    padding: 50px 0;

}
.nav {margin-left: 250px ;

    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
      text-transform: uppercase;
  text-align: center;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #b87eff;
  border-right: 3px solid #c799ff;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #b87eff;
  border-left: 3px solid #c799ff;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #8358e6;
}
.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.homing{
    margin: 50px;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
.homing a{
    text-decoration: none;
    
}